

    <form action="/location/add" method="POST">
    <div>
      <label for="eventLocation">Location</label>
      <input type="text" id="name" name="name" placeholder="Location name">
    </div>

    <br>

    <div>
        <label for="locationDescription">Location Description: </label>
        <textarea rows="13" type="text" id="locationDescription" name="description">{{description}}</textarea>
   
    <div>
      <button type="submit" >Submit</button>
    </div>


    </form>

