<div class='hero-container'>
  <div class='hero-background'>
    <img class='hero-image' src='/images/img.jpeg' />
    {{! absolutely positioned }}
    <div class='hero-content'>
      <h1 class='hero-title'>Event Note</h1>

      <div class='button-container'>
        <a href='/locations'>
          <button class='locations-btn btn'>Locations</button>
        </a>
        <a href='/events'>
          <button class='events-btn btn'>Events</button>
        </a>
      </div>
    </div>
  </div>
</div>