<div class='event-container'>
  <h3>{{name}}</h3>
  <p>Description: {{description}}</p>
  <button class='btn'><a href='/location/{{id}}/edit'>Edit Location</a></button>
  <form method='POST' action='/location/delete'>
    <input type='hidden' name='id' value='{{id}}' />
    <button class='btn'>Delete Location</button>
  </form>
</div>