<div>
  <h3>{{name}}</h3>
</div>
<p>Description: {{description}}</p>
<div>
  <button><a href='/location/{{id}}/edit'>Edit Location</a></button>
</div>
<div>
  <form method='POST' action='/location/delete'>
    <input type='hidden' name='id' value='{{id}}' />
    <button>Delete Location</button>
  </form>
</div>