html {
  background-color: #afc2d5;
}

body {
  font-family: arial;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* header */
.header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
  font-family: 'Roboto', serif;
}

.main-title {
  padding-left: 1em;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.nav-list {
  display: flex;
  padding-right: 1em;
}

.list-item {
  list-style: none;
  padding-left: 1em;
  font-size: 2rem;
  letter-spacing: 1px;
}

.list-item a {
  text-decoration: none;
  color: black;
}

/* Homepage */
.hero-container {
  height: 100vh;
  width: 100%;
}

.hero-background {
  height: 80%;
  width: 100%;
  position: relative;
  display: flex;
}

.hero-content {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.hero-title {
  font-family: 'Roboto', serif;
  color: White;
  font-size: 4rem;
}

.button-container {
  display: flex;
  gap: 2em;
}

.btn {
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px 40px;
  cursor: pointer;
  color: white;
}

.events-btn {
  background-color: #4e7faf;
  font-weight: bold;
  color: white;
  border: black;
}
.locations-btn {
  background-color: #4e7faf;
  font-weight: bold;
  color: white;
  border: none;
}
/* events page */
.data {
  color: #1a5068;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 3rem 2rem 3rem;
}

.card {
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center top 10px;
  background-color: #ecf6fa;
  box-shadow: 5px 5px 15px #999;
  padding: 15px;
  margin: 10px;
  width: 209px;
  list-style: none;
}
/* event page */

.event-container {
  text-align: center;
}

.event-container h3 {
  font-size: 30px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  gap: 1em;
}

.input-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 2em;
}

.button-container {
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
